.final {
  padding: 100px 20px;
  background: #0F1C2E;
  color: white;
  text-align: center;
}
.final p {
  font-size: 20px;
  max-width: 600px;
  margin: auto;
  line-height: 1.7;
}
.final span {
  display: block;
  margin-top: 30px;
  opacity: 0.6;
}
.btn {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #c2185b;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #ad1457;
}
.foto-final {
  width: 450px;
  margin-top: 40px;
  opacity: 0.8;
  border-radius: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .contenido {
    flex-direction: column;
    text-align: center;
  }

  .como-la-veo-yo img {
    width: 200px;
    height: 280px;
  }
}
img {
  width: 1300px;
  max-width: 600px;
  height: 400px;
}