.bloque {
  padding: 80px 10%;
}
.bloque h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}
.contenido {
  display: flex;
  gap: 40px;
  align-items: center;
}
.contenido img {
  width: 300px;
  border-radius: 20px;
}
.contenido p {
  font-size: 18px;
  line-height: 1.6;
}
.btn {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #c2185b;
  color: white (146, 5, 5);
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #ad1457;
}
.foto-seccion {
  width: 320px;
  margin: 30px auto;
  display: block;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .contenido {
    flex-direction: column;
    text-align: center;
  }

  .como-la-veo-yo img {
    width: 200px;
    height: 280px;
  }
}